.profile-page {
    margin-left: 100px;
    background-color: #29a145;
    position: relative;
    height: 100%;
    font-size: 12px
}

.profile-page-main {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 80%;
}

.contain {
    height: 100%;
    position: relative;
    background-color: black;
}

.profile-game-header {
    border: 1px #29a145 solid;
    width: 100%;
    height: 7%;
}

.profile-game-header > span {
    background-color: #343A40;
    border-radius: 0px;
    font-size: 25px;
    z-index: 1;
    right: 20%;
    width: 100%;
    height: 100%;
}

.col-game {
    float: right;
    position: relative;
    display: inline-block;
    width: 20%;
    height: 100%;
}

.col-store {
    width: 100%;
    height: 99%;
}


.col-stats {
    font-size: 0px;
    overflow-y: scroll;
    padding: 5px 10px 10px;
    width: 100%;
    height: 20%;
}

.col-stats .card {
    display: inline-block;
    font-size: 13px;
    width: 50% !important;
    margin-bottom: 2px;
} 

.nav-bottom {
    height: 100%; 
}

.profile-game-search {
    margin: 0px;
    padding: 5px;
    background-color: #343A40;
}  

.carousel {
    background: lightblue;
    height: 100%;
}

.profile-game-button {
    background-color: #343A40;
    border-color: #29a145;
    color: #29a145;
}

.profile-game-input {
    border-color: #29a145;
}

.profile-game-card {
    width: 100%;
    height: 150px;
}

.profile-game-row {
    margin: 0px;
    width: 100%;
    height: 93%;
    overflow-y: scroll;
}

.profile-game-content {
    width: 100%;
    background-color: #343A40;
    color: white;
    margin-bottom: 5px;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.profile-game-content .card {
    background-color: #343A40;
    color: white;
    border: 1px solid black;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.format-game-lsit {
    height: 100%;
    overflow-y: scroll;
}

.list-group {
    width: 100%;
    height: 50%;
    overflow-y: scroll;
}

.js-profile-game-results {
    width: 100%;
}

.profile-game-button {
    width: 100%;
}


.js-profile-clips-results button {
    width: 49.5%;
    padding: 0;
    border: solid 1px #696969;
    color: white;
    margin-bottom: 2px;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.js-profile-clips-results a {
    border: solid 1px black;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.list-group-item {
    background-color: #343A40;
    border-color: #29a145;
}

.list-group-item:hover {
    background-color: #0069D9 !important;
}

.js-iframe-clip {
    width: 100%;
    height: 99%;
}

.js-iframe-clip iframe {
    width: 100%;
    height: 100%;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.collapse-clips-btn {
    color: #ffffff;
    height: 15%;
    border: 1px solid #29A145;
    text-shadow: 2px 2px 4px #000000;
    background-color: #343a40;
    border-radius: .3rem;
    padding: 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#collapse-clips {
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 1
}

.collapse-header {
    height: 10px;
    padding: 1px;
    height: 5px;
    background-color: #29A145;
}

.arrow-box {
    display: inline-block;
    padding: 5px 10px;
    background-color: #29A145;
    border-radius: 10px;
}

.collapse-card {
    border-color: #696969;
    background-color: #343A40;
}

.collapse-card > div {
    border-radius: 0px;
}

#clips-msg {
    padding-right: 50px;
    position: fixed;
    left: 37%;
    top: 52%;
    color: white;
}
