/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #9E9E9E;
    border: 1px solid #000000;
    width: 100%;
    height: 100%;
    margin: 0px;
    display: block;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.imgcontainer,
.creds-container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.avatar {
    width: 100px;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 10px;
}

.cancelbtn,
.login-btn,
.register-btn,
.signout-btn,
.example-btn {
    color: #ffffff;
    border: 1px solid #29A145;
    text-shadow: 2px 2px 4px #000000;
    background-color: #343a40;
    border-radius: .3rem;
    padding: 5px;
}

.cancelbtn {
    margin: 10px;
    width: auto;
    position: absolute;
}

.example-btn {
    width: auto;
    position: absolute;
    bottom: 0px;
    margin: 10px;
}
.register-btn {
    position: absolute;
    margin: 10px;
    padding: 5px;
    right: 0px;
    position: absolute;
    height: auto;
}
.login-btn {
    display: inline-block;
    height: 15%;
}

.signout-btn {
    display: block;
    margin: 0px auto 0px auto;
}

.creds-container > *,
.cancelbtn {
    margin-bottom: 20px;
}

#login-form {
    overflow-y: scroll;
}

#login-form > p {
    font-weight: bold;
    color: #333333;
    text-align: center;
}

.imgcontainer {
    margin: 20px 0px 20px;
}

.creds-container label {
    display: block;
}

#js-user-apikey {
    margin-right: 30px;
}

#js-user-uxid {
    margin-right: 45.1px;
}

.gamer-tag,
.gamer-score, 
.gamer-rep {
    margin-bottom: 5px;
    font-family: monospace;
    font-size: 18px;
}