.home-page {
    margin-left: 100px;
    background-color: forestgreen;
    position: fixed;
    width: 100%;
    height: 100%;
}

.home-page-main {
    height: 100%;
    position: relative;
}

.col-game {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 20%;
}

.col-news, .col-profile {
    width: 100%;
    height: 50%;
}

.contain {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 80%;
}

