.home-page {
    margin-left: 100px;
    background-color: #29a145;
    position: relative;
    height: 100%;
}

.home-page-main {
    height: 100%;
    position: relative;
}

.col-game {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 20%;
}

.col-news, .col-profile {
    width: 100%;
    height: 50%;
}

.contain {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 80%;
}

.nav-bottom {
    height: 100%; 
}

.home-game-search {
    margin: 0px;
    padding: 5px;
    background-color: #343A40;
} 

.carousel {
    height: 100%;
}

.home-game-button {
    background-color: #343A40;
    border-color: #29a145;
    color: #29a145;
}

.home-game-input {
    border-color: #29a145;
}

.home-game-card {
    width: 100%;
    height: 150px;
}

.home-game-row {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}