.store-page {
    position: relative;
    padding-top: 10px;
}

.navbar-brand {
    margin-right: 35%;
    margin-right: 150px;
}

.store-fixed {
    width: 197px;
}

.store-sep {
    padding-bottom: 30px;
    border: 1px solid #343A40;
}

.js-store-results {
    width: 125%;
    margin-left: 0px;
}

.js-store-results .card {
    margin-bottom: 15px;
    margin-right: 15px;
}